/**=========================*/
/** SECTION 0 : General */
    /* Universal margin-padding */
    *::before,*::after,*{
        box-sizing:border-box;
        margin:0;
        padding:0;
}
    /* Background Image */                                  /* !! We might want to adjust this */
    :root {
    background-image: url("../assets/images/background.png");
}
/**=========================*/
/** SECTION 1 : Configurations */
    /* Default Font Setting (REM)*/
    :root {
    font-size: 16px;
}
    /* Colors */
    :root {
        --primary-1: #fae7d1;
        
        --secondary-1: #3B2521;
        
        --accent-0: #ec8e6b;
        --accent-1: #e77d57;
        --accent-2: #bb5d5f;
        --accent-3: #A34445;
        
        --white: #fcf3e8;
        --black: #201E1E;
        
        --shadow-1: hsla(0, 0%, 0%, 0.20);
        
    }
    /** Shadow Settings */
    :root {
        --text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.05);
        
        --box-shadow-1: 4px 4px 0px hsla(0, 0%, 0%, 0.20);
        --box-shadow-2: 0px 0px 4px hsla(0, 0%, 0%, 0.20);
        --box-shadow-3: 0px 0px 12px hsla(0, 0%, 0%, 0.20);
        --box-shadow-4: 4px 4px 4px hsla(0, 0%, 0%, 0.20);
        --box-shadow-5: 0px 0px 16px hsla(0, 0%, 0%, 0.20);
        --box-shadow-6: 0px 8px 16px hsla(0, 0%, 0%, 0.20);
        --box-shadow--1: 4px -4px 0px hsla(0, 0%, 0%, 0.20);
        
        --transparent-arrow: hsla(4, 27%, 20%, 0.05);
        --transparent-shadow: rgba(0, 0, 0, 0.2);

        --shadow-block: 4px 4px 0px black;
    }
    /** Screen Sizing ? */
    :root{
        --docsize-default: 1000px;
        --docsize-dynamic: 100%;
    }
    /** Default Text Setting */
    h1, h2, h3, h4, h5, h6, p, a, img {
        font-family: sans-serif;
        text-decoration: none;
        margin: 0rem 0rem 1rem;
        text-shadow: var(--text-shadow); 
        color: var(--white);
    }
    p {
        margin: 0rem 0rem 1rem;
        line-height: 2.5 
    }
    /** Default List Setting */
    li {
        list-style-type: none;
    }
    /** Other Defaults */
    h2 {
        font-size:28px;
        color: var(--accent-0);
    }
/**=========================*/
/** SECTION 2 : Common Layouts*/
    
    .default-padding {
        padding: 1rem min(8rem, 10%) 1rem;
    }
    
    .default-margin {
        margin: 0rem 1rem 0rem;
    }

    .no-margin {
        margin: 0rem 0rem 0rem;
    }
    
    .flex-column {
        display:flex;
        flex-direction:column;
    }

    .flex-center-space {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flex-space {
        display: flex;
        justify-content: space-between;
    }

    .navbar-top {
        position:sticky;
        top:0;
        z-index:5;
    }

    .links-horizontal{
        display:flex;
        flex-wrap: wrap;
        gap:2rem;
    }

/**=========================*/
/** SECTION 3 : Specific Layouts */
    /* Body */
    body{
        background-color: var(--black);
        display: flex;
        flex-direction: column;
    }
    /* Header (Navbar) */
    header {
        background-color: var(--secondary-1);
        box-shadow: var(--box-shadow-1);
    }
        /** Logo */
        nav #logo{
            font-size:28px;
        }
        nav #logo:hover {
            color:var(--primary-1);
        }
        nav #logo span {
            color: var(--accent-0);
        }
        /** Nav */
        nav a {
            font-size: 18px;
            text-shadow: none;
            font-weight: bold;
        }
        nav a:hover {
            color:var(--primary-1);
            text-shadow: var(--text-shadow);
        }
    /* Footer */
    footer{
        background-color: var(--secondary-1);
        box-shadow: var(--box-shadow--1);
        
        left:0;
        bottom: 0;
        z-index:5;
    }
        footer .footer-social-links svg {
            width: 32px;
            height: 32px;
        }
        footer h6 {
            font-size: 12px;
            margin: 0.5rem 0rem 0.5rem;
        }
    /* Main - Aside Flex */
    /* Main issue is aside, especially in sizing 
       Proposal: Add aside to navbar when the screen get sufficiently smaller, and make the image much smaller*/
    .main-aside-container {
        padding: 2rem min(9rem, 10%) 2rem;
    }
        /* Review This: Look into how main and aside should be sized */
        /* Main */
        main {
            max-width:850px;
        }
            main section {
                padding:0rem min(9rem, 10%) 1rem;
            }
        /* Aside */
        aside {
            text-align: center;
        }
            aside #profile{
                display:flex;
                justify-content: center;
                
                margin-bottom:2rem;
                
                width: 194px;
                height: 194px;

                box-shadow: var(--box-shadow-4);
            }
            aside .social-links{
                display:flex;
                justify-content: center;
                gap:1rem;
                flex-wrap: wrap;

                margin-bottom:2rem;

                width: 194px;
            }
            aside .quick-links a{
                text-decoration:underline;

                margin-bottom:2rem;
                
                color: var(--accent-2)
            }
            aside .quick-links a:hover{
                color: var(--accent-1);
            }
    /* Logos */
    .linkedIn, .github-1, .facebook, .github-2 {
        width: 48px;
        height: 48px;
    }
    .github-2 {
        color: var(--accent-0);
    }

/**=========================*/
/** SECTION 4 : Dynamic Layouts */
/* Width: 750px | */
@media all and (width <= 750px){
    header{
        text-align:center;
        min-width:365px;
        align-items: center;
        flex-direction:column;
    }

    .main-aside-container{
        min-width:365px;
        align-items:center;
        flex-direction:column;
    }
        aside{
            display:none;
        }

    .featured-project img, .featured-blog img, .featured-slide img {
        display:none;
    }

    .featured-section{
        overflow:scroll;
    }

    footer{
        padding: 1rem 0rem 1rem;
        position:relative;
        flex-direction:column;
        text-align: center;
        min-width:365px;
    }
        footer .footer-social-links svg {
            width: 24px;
            height: 24px;
        }
    
}
/* Width: 500px | */
@media all and (width <= 500px){
    /* To Review */
    .featured-content a {
        font-size:14px;
        width:80%;
        height:80%;
    }
}

/**=========================*/
/** SECTION 5 : Page-Specific Layouts */
/* index.html */
    /* Featured Section */
    .featured-section{
        display: flex;
        gap: 4rem;
    }
        .featured-section .featured-column{
            min-width:200px;
            max-width:350px;
        }
        .featured-section .projectsLink, .featured-section .blogsLink{
            display: flex;
            align-items: center;

            margin-bottom: 0;
        }
            .featured-section .projectsLink img, .featured-section .blogsLink img {
                width:36px;
                height:36px;
            }
        .featured-section ol{
            overflow:scroll;
            scrollbar-width: none; /* Take note other browser implementations*/
            height:500px;

            border: 8px solid var(--accent-3);
            box-shadow: var(--box-shadow-4);
            background-color: var(--white);
        }
            .featured-section li {
                background-color: var(--white);
                padding: 1rem;
                margin: 0rem 0rem 1rem;
                box-shadow: var(--box-shadow-5);
                text-align-last:right;
            }
                .featured-section li:hover {
                    background-color: var(--primary-1);
                }
                .featured-section li:last-child{
                    margin:0;
                }
                .featured-section li h2, .featured-section li p {
                    text-shadow: var(--text-shadow);
                    text-align-last:left;
                    color: var(--black);
                    font-size:14px;
                }
                .featured-section li h2{
                    font-size:24px;
                }
/* projects.html, blogs.html */
    /* Featured Projects / Blogs */                                 /* !! We might want to adjust this */
    .featured-project, .featured-blog, .featured-slide {
        display:flex;
    }
        .featured-project img, .featured-blog img, .featured-slide img {
            min-width:50%;
            max-width:50%;

            box-shadow: var(--box-shadow-6); /*Another variant for box shadow?*/

            margin-bottom:0;
            object-fit: cover;
        }
        #featured-blogs-hero, #featured-projects-hero{
            z-index:2;
            position:relative;

            border:4px solid var(--accent-3);

            box-shadow: var(--box-shadow-1);
            background-color: var(--primary-1);

            margin: 2rem;
            padding-bottom:0;
        }
            .featured-content{
                padding: 24px;
                text-align:left;
            }
                .featured-content h3, .featured-content h4, .featured-content p {
                    color: var(--black);
                }
                .featured-content h3 {
                    font-size: 28px;
                }
                .featured-content a{
                    border:none;
                    border-radius: 0px;

                    padding:8px 12px;

                    font-size:16px;
                    font-weight:bold;
                    background-color: var(--accent-2);

                    box-shadow: var(--box-shadow-4);
                }
                .featured-content a:hover{
                    transition: 0.3s ease;

                    background-color: var(--accent-1);
                }
    
        #left-arrow, #right-arrow{
            font-size:32px;
            font-weight: bold;
            font: inherit;

            cursor: pointer;
            
            padding: 0;
            height:100%;
            width: 50px;
            position: absolute;
            z-index:2;
            top: 0;
            
            outline: inherit;
            
            transition: 0.3s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;

            background: none;
            border: none;
            color: inherit;
            color:var(--transparent-arrow);
        }
            #left-arrow:hover, #right-arrow:hover{
                color:hsl(4, 27%, 20%);
                background-color: var(--transparent-shadow);
                box-shadow: var(--box-shadow-2);
            }
            #right-arrow{
                right: 0;
                border-radius: 3px 0 0 3px;
            }
    #projects-section, #blogs-section{
        display:flex;
        flex-wrap: wrap;
        margin-top:2rem;
        gap:5rem;
    }
        #project-genre ul, #blogs-section ul{
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
            gap:1rem;
        }
        #projects-section h3, #blogs-section h3 {
            color: var(--accent-0);
        }
        #projects-section a, #blogs-section a {
            text-decoration: underline;
            color: var(--accent-2);
        }
        #projects-section a:hover, #blogs-section a:hover {
            color: var(--accent-1);
        }


/* about.html */
    .stack-section{
        padding:1rem;
        border: 4px solid var(--accent-3);
        box-shadow: var(--box-shadow-1);
    }
    #tech-stack{
        padding: 1rem;
        display:flex;
        flex-wrap: wrap;
        gap:2rem;
    }
        .techlist-col ul{
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
            gap:1rem;
        }
        .techlist-col li {
            background-color: var(--primary-1);
            border: 1px solid var(--accent-3);
            box-shadow: var(--shadow-block);
            text-align:center;
        }
        .techlist-col li p {
            color: var(--accent-2);
            text-align:center;
            text-shadow:none;
            font-weight: bold;
        }
        .techlist-col li svg {
            padding:5px;
        }
        .techlist-col svg{
            color:var(--accent-2);
            width:50px;
            height:50px;
        }
    

/* blogs/article | projects/article . html*/
    .picture-section {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
        .picture-section img{
            width:80%;
            height:80%;
        }
        .picture-section img:hover{
            width:200%;
            height:200%;
            box-shadow: 0px 0px 12px var(--shadow-1);
        }
        .picture-section-no-resize img{
            width:80%;
            height:80%;
        }
    .date-details p{
        font-size:12px;
        margin:0px;
    }
    .credits-section a{
        margin-left:1rem;
    }

