/** Let's just rewrite the whole thing to be actually maintainable, again... */

/**=========================*/
/** SECTION 1 : General */
    /* Universal margin-padding */
        *::before,*::after,*{
            box-sizing:border-box;
            margin:0;
            padding:0;
        }

/**=========================*/
/** SECTION 2 : Configurations */
    /** Root Font (size affects REM) */
        :root {
            font-size: 16px;
        }
    /** Colors */
        :root {
            --primary: #000000;
            --secondary: ;
            --tertiary : ;

            --primary-text: ;
            --secondary-text: ;
            --tertiary-text: ;

            --background: ;
        }
    /** Texts */
        h1, h2, h3, h4, h5, h6{
            
        }

        ul{
            
        }

        ol{

        }

        p{

        }

        a{

        }

/**=========================*/
/** SECTION 3 : Common Layouts */
    /** Nav-Header */
    .nav-header{

    }
    .nav-header-logo{

    }
    .nav-header-list{

    }
    .nav-header-navelement{

    }
    /** Footer */
    .footer{

    }
    .footer-text{

    }
    .footer-links{

    }
    .footer-logolinks{

    }
    /** Aside */
    .aside{

    }
    .aside-links{

    }
    .aside-images{

    }
    .aside-logolinks{

    }
    /** Section */
    .section{

    }
    .section-header{

    }
    .section-paragraph{
        
    }

/**=========================*/
/** SECTION 4 : Home */
    .home-main{

    }
    .home-featured{

    }

/** SECTION 5 : About */
    .about-main{

    }
    .about-tech-stack{

    }

/**=========================*/
/** SECTION 6 : Blogs Home */
    .blogs-main{

    }
    .blogs-featured{

    }

/** SECTION 7 : Blog */
    .blog{

    }
    .blog-images{

    }

/**=========================*/
/** SECTION 8 : Projects Home */
    .projects-main{

    }
    .projects-featured{

    }

/**=========================*/
/** Section 9 : Projects */
    .project{

    }
    .project-images{

    }

/**=========================*/
/** SECTION 10 : Dynamic (Desktop, Laptop/Medium, Phone/Small Sizes) */

    /** Medium */
    @media all{

    }

    /** Small */
    @media all{

    }

    /** Mobile */
    @media all{

    }
