/** Let's just rewrite the whole thing to be actually maintainable, again... */

/**=========================*/
/** SECTION 1 : General */
    /* Universal margin-padding */
        *::before,*::after,*{
            box-sizing:border-box;
            margin:0;
            padding:0;
        }

/**=========================*/
/** SECTION 2 : Configurations */
    /** Root Font (size affects REM) */
        :root {
            font-size: 16px;
            font-family: sans-serif;
        }
    /** Colors */
        :root {
            
            --primary-1: #fae7d1;
            
            --secondary-1: #3B2521;
            
            --accent-0: #ec8e6b;
            --accent-1: #e77d57;
            --accent-2: #bb5d5f;
            --accent-3: #A34445;
            
            --white: #fcf3e8;
            --black: #201E1E;
            
            --shadow-1: hsla(0, 0%, 0%, 0.20);
            
        }
    /** Background **/
        :root {
            background-color: var(--black);
            /* background-color: var(--white); */
        }
    /** Texts */
        h1, h2, h3, h4, h5, h6{
            color: var(--primary-1);
            /* color: var(--secondary-1); */
        }

        ul{
            color: var(--primary-1);
            /* color: var(--secondary-1); */
        }

        ol{
            color: var(--primary-1);
            /* color: var(--secondary-1); */
        }

        li{
            color: var(--primary-1);
            /* color: var(--secondary-1); */
            list-style-type: none;
        }

        p{
            color: var(--primary-1);
            /* color: var(--secondary-1); */
        }

        a{
            color: var(--primary-1);
            /* color: var(--secondary-1); */
            text-decoration: none;
        }

        .a-underline{
            color: var(--primary-1);
            /* color: var(--secondary-1); */
            text-decoration: underline;
        }
/**=========================*/
/** SECTION 3 : Common Styles */
    .padding-layout {
        padding-top:1rem;
        padding-left:4rem;
        padding-right:4rem;
        padding-bottom:1rem;
    }

/**=========================*/
/**=========================*/
/** SECTION 4 : Layouts */
    /** Body **/
        body{
            display:flex;
            flex-direction: column;
        }
        /** Nav */
        nav{
            display:flex;
            gap: 4rem;
        }
        /** Header */
        header{

        }
    /** Nav-Header */
        .nav-header{
            background-color: var(--secondary-1);
            /* background-color: var(--primary-1); */
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .nav-header-logo{

        }
        .nav-header-list{
            
        }
        .nav-header-navelement{

        }
    /** Footer */
        footer{
            background-color: var(--secondary-1);
            /* background-color: var(--primary-1); */
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .footer-text{

        }
        .footer-links{
            display:flex;
            gap: 4rem;
        }
        .footer-logolinks{

        }
    /** Main */
        main{
            width:70%;
        }
    /** Aside */
        aside{
            width:30%;
            text-align: center;
        }
        .aside-links{

        }
        .aside-images{
            
        }
        .aside-logolinks{
            display:flex;
            justify-content: center;
        }
    /** Section */
        section{

        }
        .section-header{

        }
        .section-paragraph{
            
        }

/**=========================*/
/** SECTION 5 : Home */
    #home-main{
        display:flex;
        justify-content: space-between;
    }
    #home-main h2{
        color: var(--accent-0);
    }
    #home-main p{
        padding:1rem;
    }
    .home-featured{
        display:flex;
    }

/** SECTION 6 : About */
    .about-main{

    }
    .about-tech-stack{

    }

/**=========================*/
/** SECTION 7 : Blogs Home */
    .blogs-main{

    }
    .blogs-featured{

    }

/** SECTION 8 : Blog */
    .blog{

    }
    .blog-images{

    }

/**=========================*/
/** SECTION 9 : Projects Home */
    .projects-main{

    }
    .projects-featured{

    }

/**=========================*/
/** Section 10 : Projects */
    .project{

    }
    .project-images{

    }

/**=========================*/
/** SECTION 11 : Dynamic (Desktop, Laptop/Medium, Phone/Small Sizes) */

    /** Medium */
    @media all{

    }

    /** Small */
    @media all{

    }

    /** Mobile */
    @media all{

    }
