/* */
.stack-section{
    padding:1rem;
    border: 4px solid var(--border-dark);
    box-shadow: 4px 4px 0px var(--shadow-block);
}
#tech-stack{
    padding: 1rem;
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
}
.techlist-col ul{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    gap:1rem;
}
.techlist-col li {
    background-color: var(--alternate-white);
    border: 1px solid var(--border-dark) ;
    box-shadow: 4px 4px 0px var(--shadow-block);
    
    /* display:flex; */
    /* flex-wrap:wrap; */
    
    /* align-items: center; */
    /* min-width:100px; */
    /* max-width:150px; */
    /* height:75px; */
    text-align:center;
}
.techlist-col li p {
    color: var(--link-emphasis);
    text-align:center;
    text-shadow:none;
    font-weight: bold;
}
.techlist-col li svg {
    padding:5px;
}
.techlist-col svg{
    color:var(--link-emphasis);
    width:50px;
    height:50px;
}