/* Featured Projects / Blogs */                                 /* !! We might want to adjust this */
.featured-project, .featured-blog, .featured-slide {
    /* padding:16px; */
    display:flex;
}
.featured-project img, .featured-blog img, .featured-slide img {
    min-width:50%;
    max-width:50%;
    box-shadow: 0px 8px 16px var(--shadow-box);
    margin-bottom:0;
    object-fit: cover;
}
.featured-content{
    text-align:left;
    padding: 24px;
    /* text-align:right; */
}
.featured-content h3, .featured-content h4, .featured-content p {
    color: var(--default-black);
}
.featured-content h3 {
    font-size: 28px;
}
.featured-content a{
    border:none;
    border-radius: 0px;
    padding:8px 12px;
    font-size:16px;
    font-weight:bold;
    background-color: var(--link-emphasis);
    box-shadow: 4px 4px 4px var(--shadow-box);
}
.featured-content a:hover{
    transition: 0.3s ease;
    background-color: var(--link-hover-dark);
}
#featured-blogs-hero, #featured-projects-hero{
    z-index:2;
    position:relative;
    border:4px solid var(--border-dark);
    box-shadow:4px 4px 0px var(--shadow-block);
    background-color: var(--alternate-white);
    margin: 2rem;
    padding-bottom:0;
}
#left-arrow, #right-arrow{
    z-index:2;
    cursor: pointer;
    position: absolute;
    top: 0;
    height:100%;
    width: 50px;
    /* margin-top: -22px; */
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-weight:bold;
    color:var(--transparent-arrow);
    font-size:32px;
}
#left-arrow:hover, #right-arrow:hover{
    color:hsl(4, 27%, 20%);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px var(--shadow-box);
}
#right-arrow{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* */
#projects-section, #blogs-section{
    margin-top:2rem;
    display:flex;
    flex-wrap: wrap;
    gap:5rem;
}
#projects-section h3, #blogs-section h3 {
    color: var(--sect-header-bright);
}
#projects-section a, #blogs-section a {
    color: var(--link-emphasis);
    text-decoration: underline;
}
#projects-section a:hover, #blogs-section a:hover {
    color: var(--link-hover-bright);
}
#project-genre ul, #blogs-section ul{
    display:flex;
    flex-direction:column;
    gap:1rem;
    flex-wrap:wrap;
}