/* Universal margin-padding */
*::before,*::after,*{
    margin:0;
    padding:0;
}
/* Background Image */
:root {
    background-image: url("../data/background.png");
}
/* Body */
body{
    color: #FFEAD3;
    background-color: hsla(0, 0%, 0%, 0.80);
}
/* Texts */
h1, h2, h3, h4, h5, h6, p, a, img {
    font-family: sans-serif;
    text-decoration: none;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.25);

    margin: 0rem 0rem 1rem;
    color: #FFEAD3;
}
h2 {
    font-size:28px;
    color: hsl(12, 100%, 73%)
}
p {
    line-height: 2;
}
/* Lists */
ul, li, ol {
    list-style-type: none;
}
/*--------------------------------------------------*/
/* Header */
header{
    background-color: hsl(4, 27%, 20%);
    margin:0;
    width:100vw;
    
    grid-area: h;
    padding: 0.5rem 0rem 0rem;

    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.2);
    position:sticky;
    top:0;
}
.header-container{
    width:60%;
    margin:auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
#logo h1 {
    font-weight:normal;
    font-size:28px;
    margin:0;
}
#logo span {
    color: hsl(12, 100%, 73%);
}
nav ul{
    display:flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap:2rem;
}
nav a {
    font-size: 18px;
}
/*--------------------------------------------------*/
/* Footer */
footer{
    background-color: hsl(4, 27%, 20%);
    box-shadow: 0px -4px 4px hsla(0, 0%, 0%, 0.2);
}
.footer-container{
    width:60%;

    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
footer ul{
    display:flex;
    gap:1rem;
    flex-wrap: wrap;
}
/*--------------------------------------------------*/
/* Main-Aside */
.main-aside-container{
    padding-top:3rem;
    padding-bottom:3rem;
    width:60%;
    margin:auto;
    display:flex;
    gap:5rem;
    justify-content: space-between;
}
/* Main */
main{
    width:75%;
}
section {
    padding:0rem 0rem 1rem;
}
.featured-section{
    display:flex;
    gap:2rem;
}
.projectsLink, .blogsLink{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.featured-section ol{
    overflow:scroll;
    scrollbar-width: none; /* Take note other browser implementations*/
    height:500px;
    border: 8px solid hsl(12, 44%, 50%);
    box-shadow: 4px 4px black;
    background-color: hsl(44, 100%, 96%);
}
.featured-section li {
    background-color: hsl(44, 100%, 96%);
    padding: 1rem;
    margin: 0rem 0rem 1rem;
    box-shadow: 0px 0px 16px hsla(0, 0%, 0%, 0.25);
    text-align-last:right;
}
.featured-section li:hover {
    background-color: hsl(31, 100%, 91%);
    padding: 1rem;
    margin: 0rem 0rem 1rem;
    box-shadow: 0px 0px 16px hsla(0, 0%, 0%, 0.25);
    text-align-last:right;
}
.featured-section li:last-child{
    margin:0;
}
.featured-section li h2, .featured-section li p {
    text-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.1);
    text-align-last:left;
    color: hsl(4, 28%, 21%);
    font-size:14px;
}
.featured-section li h2{
    font-size:24px;
}
.see-more-link{
    text-decoration: underline;
    text-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.1);
    color:hsl(12, 44%, 50%);
}
.featured-column{
    min-width:200px;
    max-width:350px;
}
/* Aside */
aside{
    width:210px;
}
#profile{
    display:flex;
    margin:auto;
    margin-bottom:1rem;
    width: 194px;
    height: 194px;
    box-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.20);
}
.social-links{
    display:flex;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
    margin-bottom:2rem;
    width:216px;
}
aside h2{
    text-align:left;
}
.quick-links{
    text-align: right;
    margin-bottom:1rem;
    text-decoration:underline;
    color: hsl(12, 44%, 50%);
}
.quick-links:hover{
    color: hsl(12, 100%, 73%);
}
/* Featured Projects / Blogs */
.featured-project, .featured-blog {
    display:flex;
}
.featured-project img, .featured-blog img {
    min-width:50%;
    max-width:50%;
}
.featured-content{
    text-align:right;
}
.featured-content h3, .featured-content h4, .featured-content p {
    text-align:left;
}
#featured-blogs-hero, #featured-projects-hero{
    position:relative;
}
#left-arrow, #right-arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
#right-arrow{
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* */
#tech-stack{
    display:flex;
    gap:4rem;
}
.techlist-col ul{
    display:flex;
    flex-direction:column;
    gap:2rem;
}
.techlist-col li {
    width:100px;
    height:75px;
    border:1px solid black;
}