/* Universal margin-padding */
*::before,*::after,*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
/* Background Image */
:root {
    background-image: url("../site-images/background.png");
}
/* Colors : use var(--name)*/
/* Adjustment Attempt */
/* :root {
    --default-white: hsl(60, 100%, 98%);
    --alternate-white: hsl(30, 100%, 92%);

    --default-black: hsl(5, 32%, 14%);
    --header-footer-dark: hsl(340, 21%, 14%);
    --border-dark: hsl(7, 49%, 33%);
    --sect-header-bright: hsl(12, 100%, 73%);
    --link-emphasis: hsl(12, 44%, 50%);
    --link-hover-bright: hsl(12, 100%, 73%);
    --link-hover-dark: hsl(12, 44%, 40%);
    --emphasis-white: white;
 
    --shadow-text: hsla(0, 0%, 0%, 0.05);
    --shadow-box: hsla(0, 0%, 0%, 0.20);
    --shadow-block: black;

    --transparent-arrow: hsla(4, 27%, 20%, 0.05);
    --visible-arrow: hsl(4, 27%, 20%);

    --overlay: hsla(0, 0%, 0%, .90);

    --docsize-default: 1000px;
    --docsize-dynamic: 100%;
} */

/* Original */
:root {

    --default-white: hsl(44, 100%, 96%);
    --alternate-white: hsl(31, 100%, 91%);

    --default-black: hsl(4, 27%, 20%);
    --header-footer-dark: hsl(4, 27%, 20%);
    --border-dark: hsl(12, 44%, 40%);
    --sect-header-bright: hsl(12, 100%, 73%);
    --link-emphasis: hsl(12, 44%, 50%);
    --link-hover-bright: hsl(12, 100%, 73%);
    --link-hover-dark: hsl(12, 44%, 40%);
    --emphasis-white: white;
 
    --shadow-text: hsla(0, 0%, 0%, 0.05);
    --shadow-box: hsla(0, 0%, 0%, 0.20);
    --shadow-block: black;

    --transparent-arrow: hsla(4, 27%, 20%, 0.05);
    --visible-arrow: hsl(4, 27%, 20%);

    --overlay: hsla(0, 0%, 0%, 0.85);

    --docsize-default: 1000px;
    --docsize-dynamic: 100%;
}

/* Body */
body{
    min-height:100dvh;
    background-color: var(--overlay);
}
/* Texts */
h1, h2, h3, h4, h5, h6, p, a, img {
    font-family: sans-serif;
    text-decoration: none;
    text-shadow: 2px 2px 2px var(--shadow-text);

    margin: 0rem 0rem 1rem;
    color: var(--default-white);
}
h2 {
    font-size:28px;
    color: var(--sect-header-bright);
}
h6 {
    font-size: 12px;
    margin: 0.5rem 0rem 0.5rem;
}
p {
    font-size:16px;
    line-height: 2.5    ;
}
.link-underline{
    color:var(--link-emphasis);
    text-decoration: underline;
}
.link-underline:hover{
    color:var(--link-hover-bright);
}
/* Lists */
ul, li, ol {
    list-style-type: none;
}
/*--------------------------------------------------*/
/* Header */
header{
    margin:0;
    padding: 0.5rem 0rem 0rem;
    width:100vw;
    position:sticky;
    top:0;
    z-index:5;
    background-color: var(--header-footer-dark);
    box-shadow: 0px 4px 4px var(--shadow-box);
}
.header-container{
    width:var(--docsize-default);
    margin:auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#logo h1 {
    font-weight:normal;
    font-size:28px;
    margin:0;
}
#logo h1:hover {
    color:var(--alternate-white);
}
#logo span {
    color: var(--sect-header-bright);
}
nav ul{
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
}
nav a {
    font-size: 18px;
    text-shadow: none;
    font-weight: bold;
}
nav a:hover {
    color:var(--alternate-white);
    text-shadow: var(--shadow-text);
}
/*--------------------------------------------------*/
/* Footer */
footer{
    background-color: var(--header-footer-dark);
    box-shadow: 0px -4px 4px var(--shadow-box);
    width:100%;
    position:fixed;
    left:0;
    bottom: 0;
    z-index:5;
}
.footer-container{
    width:var(--docsize-default);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    display:flex;
    gap:1rem;
    flex-wrap: wrap;
}
/*--------------------------------------------------*/
/* Main-Aside */
.main-aside-container{
    padding-top:3rem;
    padding-bottom:3rem;
    width:var(--docsize-default);
    margin:auto;
    display:flex;
    gap:5rem;
    justify-content: space-between;
}
/* Main */
main{
    width:75%;
}
section {
    padding:0rem 0rem 1rem;
}
.featured-section{
    display:flex;
    gap:2rem;
}
.projectsLink, .blogsLink{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.projectsLink img, .blogsLink img {
    width:36px;
    height:36px;
}
.featured-section ol{
    overflow:scroll;
    scrollbar-width: none; /* Take note other browser implementations*/
    height:500px;
    /* border: 8px solid var(--link-emphasis); */
    border: 8px solid var(--border-dark);
    box-shadow: 4px 4px var(--shadow-block);
    background-color: var(--default-white);
}
.featured-section li {
    background-color: var(--default-white);
    padding: 1rem;
    margin: 0rem 0rem 1rem;
    box-shadow: 0px 0px 16px var(--shadow-box);
    text-align-last:right;
}
.featured-section li:hover {
    background-color: var(--alternate-white);
    padding: 1rem;
    margin: 0rem 0rem 1rem;
    box-shadow: 0px 0px 16px var(--shadow-box);
    /* text-align-last:right; */
}
.featured-section li:last-child{
    margin:0;
}
.featured-section li h2, .featured-section li p {
    text-shadow: 4px 4px 4px var(--shadow-text);
    text-align-last:left;
    color: var(--default-black);
    font-size:14px;
}
.featured-section li h2{
    font-size:24px;
}
.see-more-link{
    text-decoration: underline;
    text-shadow: 4px 4px 4px var(--shadow-text);
    color:hsl(12, 44%, 50%);
}
.featured-column{
    min-width:200px;
    max-width:350px;
}
/* Aside */
aside{
    width:210px;
}
.alinks{
    text-align: center;
}
#profile{
    display:flex;
    margin:auto;
    margin-bottom:1rem;
    width: 194px;
    height: 194px;
    box-shadow: 4px 4px 4px var(--shadow-box);
}
.social-links{
    display:flex;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
    margin-bottom:2rem;
    width:216px;
}
aside h2{
    text-align:center;
}
.quick-links{
    text-align: center;
}
.quick-links a{
    margin-bottom:1rem;
    text-decoration:underline;
    color: var(--link-emphasis)
}
.quick-links a:hover{
    color: var(--link-hover-bright);
}
/* Featured Projects / Blogs */
.featured-project, .featured-blog, .featured-slide {
    padding:16px;
    display:flex;
}
.featured-project img, .featured-blog img, .featured-slide img {
    min-width:50%;
    max-width:50%;
    /* box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2); */
}
.featured-content{
    text-align:left;
    padding: 24px;
    /* text-align:right; */
}
.featured-content h3, .featured-content h4, .featured-content p {
    color: var(--default-black)
}
.featured-content h3 {
    font-size: 28px;
}
.featured-content a{
    border:none;
    border-radius: 0px;
    padding:8px 12px;
    font-size:16px;
    font-weight:bold;
    background-color: var(--link-emphasis);
    box-shadow: 4px 4px 4px var(--shadow-box);
}
.featured-content a:hover{
    transition: 0.3s ease;
    background-color: var(--link-hover-dark);
}
#featured-blogs-hero, #featured-projects-hero{
    z-index:2;
    position:relative;
    border:4px solid var(--border-dark);
    box-shadow:4px 4px 0px var(--shadow-block);
    background-color: var(--alternate-white);
    margin: 2rem;
}
#left-arrow, #right-arrow{
    z-index:2;
    cursor: pointer;
    position: absolute;
    top: 0;
    height:100%;
    width: 50px;
    /* margin-top: -22px; */
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-weight:bold;
    color:var(--transparent-arrow);
    font-size:32px;
}
#left-arrow:hover, #right-arrow:hover{
    color:hsl(4, 27%, 20%);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px var(--shadow-box);
}
#right-arrow{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* */
.stack-section{
    padding:1rem;
    border: 4px solid var(--border-dark);
    box-shadow: 4px 4px 0px var(--shadow-block);
}
#tech-stack{
    padding: 1rem;
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
}
.techlist-col ul{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    gap:1rem;
}
.techlist-col li {
    background-color: var(--alternate-white);
    border: 1px solid var(--border-dark) ;
    box-shadow: 4px 4px 0px var(--shadow-block);
    
    /* display:flex; */
    /* flex-wrap:wrap; */
    
    /* align-items: center; */
    /* min-width:100px; */
    /* max-width:150px; */
    /* height:75px; */
}
.techlist-col li p {
    color: var(--link-emphasis);
    text-align:center;
    text-shadow:none;
    font-weight: bold;
}
.techlist-col svg{
    color:var(--link-emphasis);
    width:50px;
    height:50px;
}
/* */
#projects-section, #blogs-section{
    margin-top:2rem;
    display:flex;
    flex-wrap: wrap;
    gap:5rem;
}
#projects-section h3, #blogs-section h3 {
    color: var(--sect-header-bright);
}
#projects-section a, #blogs-section a {
    color: var(--link-emphasis);
    text-decoration: underline;
}
#projects-section a:hover, #blogs-section a:hover {
    color: var(--link-hover-bright);
}
#project-genre ul, #blogs-section ul{
    display:flex;
    flex-direction:column;
    gap:1rem;
    flex-wrap:wrap;
}
/* */
.linkedIn, .github-1, .facebook, .github-2 {
    width: 48px;
    height: 48px;
}

.github-2 {
    color: var(--alternate-white);
}

.footer-social-links .linkedIn, .footer-social-links .github-1, .footer-social-links .facebook, .footer-social-links .github-2 {
    width: 24px;
    height: 24px;
}

/* Dynamic */
@media all and (width <= 1000px){
    header{
        padding-bottom: 1rem;
    }
    .header-container{
        text-align:center;
        width: 90%;
        min-width:365px;
        align-items: center;
        flex-direction:column;
    }

    .main-aside-container{
        width:90%;
        min-width:365px;
        align-items:center;
        flex-direction:column;
    }

    main{
        order:2;
    }
    aside{
        width:80%;
        display:flex;
        align-items: center;
        justify-content: space-around;
        order:1;
    }
    #profile{
        margin:1rem;
    }
    .social-links{
        /* width:auto; */
        padding: 1rem;
        margin-bottom:0;
    }


    footer{
        padding: 1rem 0rem 1rem;
    }
    .footer-container{
        width:90%;
        min-width:365px;
        text-align:center;
        align-items:center;
        flex-direction:column;
    }
}
@media all and (width <= 600px){
    aside{
        width:80%;
        display:flex;
        flex-direction: column;
        align-items: center;
        order:1;
    }
}