*::before,*::after,*{
    color:black;
    margin:0;
    /* padding:0; */
}

body{
    margin:auto;
    width:90%;
}

header{
    border:5px solid black;
}

main {
    border:5px solid black;
}

aside {
    border:5px solid black;
    float:right;
}

footer{
    border:5px solid black;
}

/* *** */





